/*
/*/
!/.gitignore

!/G3D10/
/G3D10/*
/G3D10/*/

!/G3D10/G3D-app.lib/

!/G3D10/VisualStudio/
/G3D10/VisualStudio/*
!/G3D10/VisualStudio/G3D-app.lib.vcxproj
!/G3D10/VisualStudio/G3D-app.lib.vcxproj.filters

!/G3D10/data-files/
/G3D10/data-files/*
/G3D10/data-files/*/

!/G3D10/data-files/shader/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!G3D-app.lib/

# Executables
*.exe
*.out
*.app
